<div class="row-fluid people_row">
  <%= render partial: "people/person_button", collection: @people.slice(0, 3) %>
</div>
<div class="row-fluid people_row">
  <%= render partial: "people/person_button", collection: @people.slice(3, 3) %>
</div>
<div class="row-fluid people_row">
  <%= render partial: "people/person_button", collection: @people.slice(6, 2) %>
</div>
