<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>AMAZING Test Email</h1>
<p>
  You have successfully sent an email through smtp.cox.net!
</p>
<p>
  To login to the site, just follow this link: <a href="google.com">dude</a>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>