// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.people_row {
  &.first {
    margin-top: 10px;
  }
  .span4 {
    position: relative;
    min-height: 98.6px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
    &.on {
      border: 2px solid black;
      background-color: rgba(0, 0, 0, 0.81666667);
      color: #F8F8F9;
      font-weight: bold;
    }
    > div {
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -18px;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }
  }
}

footer {
  p.copyright {
    margin-top: 10px;
    text-align: center;
  }
}

@mixin styled_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

h4 {
  text-align: center;
}

#shh_button {
  position:  relative;
  min-height: 98.6px;
  margin-top: 20px;
  cursor: pointer;
  //border-radius: 20px;
  //background-color: rgba(0, 0, 255, 0.6180399);
  @include styled_button;
  > h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -18px;
    //font-size: 24px;
    //line-height: 36px;
    text-align: center;
  }
}

//footer {
//  position:  absolute;
//  width:  100%;
//  bottom: 0;
//  left: 0;
//}

//html * { outline: 1px dotted #ccc; }